:root {
	--background: #f4f9f9;
	--light-blue: #cbf2f4;
	--bright-blue: #0389ad;
	--border: #d1d4d4;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}
h2 {
	text-align: center;
}

p {
	color: white;
}
a {
	color: #0389ad;
	font-size: 20pt;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	color: #252d4a;
}
input,
textarea {
	padding: 8px;
	font-size: 15pt;
	border-radius: 4px;
	border: 2px solid black;
	width: 400px;
	margin-bottom: 15px;
}
label {
	font-size: 14pt;
}

button:hover {
	cursor: pointer;
}

.question-container {
	max-width: 100%;
	margin-top: 1em;
	background: var(--bright-blue);
	border: 0.15em solid black;
	border-radius: 0.4em;
	padding: 0 1em 1em 1em;
}

.question-text-h3 {
	font-size: 1.3rem;
	text-align: center;
	margin: 0.6em auto;
	color: white;
}
.language-test-container-one {
	max-width: 70%;
	margin: 0 auto;
	border: 0.15em solid black;
	border-radius: 0.4em;
	color: black;
	padding: 0 1em 1em 1em;
	background: var(--bright-blue);
}

.language-test-container-two {
	max-width: 60%;
	margin: 0 auto;
	margin-top: 1em;
	background: var(--bright-blue);
	padding: 0.5em;
	border: 0.15em solid black;
	border-radius: 0.4em;
}

.language-test-question {
	color: white;
	font-size: 1.6em;
	text-align: center;
	margin: 1em;
}
.sub-question-container {
	font-size: 0.9rem;
	border: 0.15em solid black;
	border-radius: 0.4em;
	padding: 0.5em;
	background: var(--light-blue);
	margin-bottom: 1em;
}
.sub-question-text {
	font-size: 1.1rem;
	line-height: 1.5;
}
.line {
	border-top: 5px dotted grey;
	margin-right: 20px;
	margin-left: 20px;
}
.answer-btn,
.answer-btn-2,
.answer-btn-test {
	font-size: 1rem;
	text-align: start;
	color: black;
	background-color: var(--light-blue);
	font-weight: bold;
	width: 100%;
	border-radius: 1.2em;
	padding: 0.7em;
	display: flex;
	border: 0.15em solid black;
	margin-top: 0.3em;
	cursor: pointer;
}

.answer-btn-test:hover {
	background: coral;
}

.answer-btn-click {
	font-size: 1rem;
	font-weight: bold;
	color: black;
	background-color: coral;
	width: 100%;
	border-radius: 1.2em;
	display: flex;
	padding: 0.7em;
	border: 0.15em solid black;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	cursor: pointer;
}

.next-btn {
	background: var(--light-blue);
	border: 0.15em solid black;
	font-weight: bold;
	border-radius: 1.2em;
	padding: 0.6em 1.5em 0.6em 1.5em;
	display: flex;
	margin: 0 auto;
	font-size: 1rem;
	margin-top: 0.7em;
}

.test-image {
	border: 0.15em solid #252d4a;
	border-radius: 0.4em;
	display: flex;
	width: 100%;
	margin-bottom: 1em;
}
.link-wrapper {
	text-align: center;
}
.congratulations {
	border: 0.15em solid black;
	padding: 20px;
	border-radius: 0.4em;
	max-width: 50%;
	margin: 0 auto;
	background: #cbf2f4;
}
.congrats {
	color: black;
	background: ghostwhite;
	padding: 1em;
	border: 0.12em solid black;
	margin: 0 auto;
	margin-bottom: 0.5em;
	border-radius: 0.4em;
	font-size: 1.3rem;
}
.form-section {
	margin-top: 0.5em;
}
.submit-btn {
	padding: 0.5em;
	font-size: 1.2rem;
	border-radius: 0.4em;
	border: 0.12em solid black;
	background: #cbf2f4;
	margin-bottom: 1em;
}
.submit-btn:hover {
	background: coral;
	cursor: pointer;
}
.btn-wrap {
	text-align: center;
}
.finish-btn,
.advance-btn {
	padding: 0.5em;
	font-size: 1.2rem;
	margin-right: 1em;
	border-radius: 0.4em;
	border: 0.12em solid black;
	font-weight: bold;
}
.finish-btn {
	background: var(--bright-blue);
}

.advance-btn {
	background: var(--border);
}
.finish-btn:hover,
.advance-btn:hover {
	opacity: 0.7;
}
.complete-test-text {
	color: #252d4a;
}
.hide-text {
	display: none;
}
.show-text {
	display: block;
}
.course-box {
	display: none;
}

.recommendations-link {
	color: #0389ad;
	font-weight: bold;
}

.form-format {
	background: var(--light-blue);
	margin-top: 1em;
	padding: 0.5em;
	border-radius: 0.4em;
	border: 0.15em solid black;
	text-align: center;
}
.footer-container {
	text-align: center;
	max-width: 100%;
	margin-top: 1.2em;
}
.footer-p {
	color: black;
}
.footer-link-csh {
	text-decoration: none;
	font-size: 13pt;
	margin: 0.1em;
	padding: 0.25em;
}
.footer-link-sammy {
	text-decoration: none;
	font-size: 1em;
	color: #252d4a;
	margin: 0.1em;
	padding: 0.25em;
}
.footer-link-sammy:hover {
	color: #0389ad;
}
.final-page,
.test-results-page {
	padding: 0.5em 2em;
}
@media (max-width: 760px) {
	.question-container,
	.language-test-container-one,
	.language-test-container-two {
		max-width: 100%;
		margin: 1em;
	}
}
